@model tiradoonline.DataAccess.InterviewQuestionsAnswers.Models.Subjects

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subjects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.create_dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_dt)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
