<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@HttpContext.Current.Request.ServerVariables["SERVER_NAME"]</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="colalpse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Request.ServerVariables["SERVER_NAME"].ToString(), "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Subjects">Home</a></li>
                    @*<li><a href="/Questions">Questions</a></li>
                    <li><a href="/Answers">Answers</a></li>*@
                </ul>
            </div>
        </div>
    </div>
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        @***************************
            FOOTER
        ***************************@
        <footer>
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container">
                    <div class="navbar-brand navbar-right">
                        <p>&copy; @DateTime.Now.Year - @HttpContext.Current.Request.ServerVariables["SERVER_NAME"]</p></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav"></ul>
                    </div>
                </div>
            </div>

        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>